.form-control {
    color: rgb(181, 175, 166);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
}


input[type=text]:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    background-color: transparent;
    color: white;
}

.styled-select select:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    background-color: black;
    color: white;
}

.button-input:focus{
    background-color: transparent;
    color: white;
}

body {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
}

.search-input, .platform-input, .platforminput:focus, .button-input, .search-input:focus {
    
    background: none;
    border-color: #8e8a85;
}

html {
    background-color: #181a1b;
}